version: '2'
services:
  app:
    user: service
    env_file:
      - .env
    volumes:
      - '.:/service'
      - '/service/node_modules'
    ports:
      - 3000:3000
  db:
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    driver: "local"
