@import '../../lib/styles/breakpoints.scss';

.page-home {
  min-height: 100vh;
  overflow: hidden;
  padding: 4rem 1rem 1rem;
  background: url(../../images/home-splash.jpg);
  background-size: cover;
  background-position: center center;

  @include lg {
    padding: 10rem 1rem 1rem;
  }
}

.search {
  padding: 16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;

  @include lg {
    display: flex;
  }
}

.search__field {
  position: relative;
  height: 71px;
  margin-bottom: 1rem;

  @include lg {
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    flex-grow: 1;
  }

  &:last-child {
    border: none;
  }
}

.zip-code {
  @include lg {
    max-width: 120px;
  }
}

.expense-rating {
  @include lg {
    max-width: 120px;
  }
}

.criteria {
  @include lg {
    max-width: 275px;
  }
}

.search__field--offset {
  @include lg {
    max-width: 170px;
    padding-left: 1rem;
  }
}

.search__field .form-control {
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 100%;
}

.search__field .btn {
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin-top: 0;
}

.search__field .dropdown .Dropdown-control {
  padding: 24px 52px 23px 10px;
  border: none;
  border-radius: 0;
}

.search__field .dropdown .Dropdown-arrow {
  top: 31px;
}

.search__field .form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
