.header {
  width: 100%;

  & .nav {
    justify-content: flex-end;
    padding-top: 20px;
  }

  & .navList {
    display: flex;
    list-style-type: none;
  }

  & .navListItem {
    padding: 0 5px;
  }

  & .navLink {
    color: #666;

    &:hover {
      color: #007bff;
    }
  }

  &.header-home {
    position: absolute;

    & .navLink {
      color: #fff;
    }

    & .navLink:hover {
      color: #007bff;
    }
  }
}
