@import '../lib/styles/breakpoints.scss';

.jumbotron {
  background: transparent;
  color: #fff;
  font-family: 'Sacramento', cursive;
  padding: 10px;
  text-align: center;
  text-shadow: 0 2px 0 black;

  &__heading {
    font-size: 4rem;

    @include lg {
      font-size: 5rem;
    }
  }
}
